
#title-clock{
    width: 100%;
    height: 50px;
    font-family: "Cabin",Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 7px;
    text-align: center;
    float: left;
    color: #262d37;
}
#image-clock{ 
    width: 200px;
    height: 200px;
    margin-left: 9px;
}
#image-clock:hover{ 
    width: 250px;
    height: 250px;
    margin-left: 9px;
}
#container-vitrine{
    width: 80%;
    margin: 0 auto;
}
#container-card-info{
    width: 20%;
    height: 370px;
    float: left;
}
#btn-comprar{
    display:none;
    width: 200px;
    margin-left: 40px;
    border: 2px solid brown;
    height: 50px;
}
#container-btn{
    width: 100%;
    height: 50px;
}

#container-newsletter{
    width: 80%;
    height: 200px;
    margin-top: 1800px;
    padding-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    background-color:#ededec;
    
}
#title-newsletter{
    background: none;
    color: #000;
    cursor: auto;
    font-style: "Courier New";
    font-size: 30px;
    text-align: center;
    
}
#sub-title-newsletter,#warning-title-newsletter{
    text-align: center;
}
#warning-title-newsletter{
    font-size: 15px;
}
#btn-enviar{
    width: 20%;
    font-size: 20px;
    border: 2px solid black;
    height: 40px;
    cursor: pointer;
}
#container-input{
    width:60%;
    margin: 0 auto;
    margin-bottom: 100px;
}
#input-email,#input-name{
    border: none;
    background-color:#ededec;
    border-bottom:1px solid black;
    margin-top: 50px;
   margin-left: 5%;  
   margin-right: 5%;
}
#newsletter{
    height: 400px;
    width: 100%;
}
#title-newsletter{
    margin-top: 50px;
    height: 20px;
}
@media only screen and (max-width: 600px) {
    #container-vitrine{
        width: 100%;
        margin: 0;
    }
    #container-card-info{
        width: 50%;
        height: 350px;
        float: left;
    }
    #container-newsletter{
        margin-top: 4200px;
        height: 350px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    #input-email,#input-name{
        width: 85%;
        margin-bottom: 35px;
    }
    #container-input{
        width: 100%;
    }#btn-enviar{
        width: 80%;
        margin-left: 7%;
        margin-top: 20px;
        font-size: 20px;
        border: 2px solid black;
        height: 40px;
    }
    #title-newsletter{
        font-size: 20px; 
    }
    #sub-title-newsletter,#warning-title-newsletter{
        width: 70%;
        margin-left: 13%;
        font-size: 13px;
    }
    #warning-title-newsletter{
        font-size: 15px;
    }
    #btn-comprar{
        display:inline;
        background-color: #ffffff;
        margin-left: 20px;
        width: 180px;
        border: 2px solid black;
        height: 50px;
    }
    #image-clock:hover{ 
        width: 220px;
        height: 220px;
        margin-left: 9px;
    }

  }
  @media only screen and (min-width: 600px)and(max-width: 1200px){
   
    #container-vitrine{
        width: 100%;
        margin: 0;
    }
    #container-card-info{
        width: 33.3%;
        height: 350px;
        float: left;
    }
    #container-newsletter{
        margin-top: 2800px;
        height: 350px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    #container-input{
        width: 100%;
        margin-left: 5%;
    }

  }